{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": ["*", ".ts", ".js", ".tsx", ".jsx"],
        "root": ["./src"]
      }
    ]
  ]
}
