# OSX
.DS_Store

# node.js
node_modules/
npm-debug.log
yarn-error.log

# Environments
*.env
*.env.*

# Lerna
lerna-debug.log

# yarn
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz
.pnp.js

# VSCode
**/.vscode/*
!**/.vscode/launch.json

# WebStorm
.idea

ios-licenses