@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Pretendard-Bold.woff") format("woff");
}

*{
  box-sizing: border-box;
}
